/* html{
    height:100%;
    background-image: url("file:///Users/sam/Desktop/CodingBootcamp/portfolio/portfolio/images/bg.jpg");
}  */

body{
    /* background-image: url("file:///Users/sam/Desktop/CodingBootcamp/portfolio/portfolio/images/bg.jpg"); */
    height: 100%;
    background-color: #000000;
}

#name_text{
    position: relative;
    top: 20%;
    margin: auto;
}

.fill-screen{
    width: 100%;
    min-height: 100vh;
}

.bottom-nav{
    position: fixed;
    right: 0;
    margin: 0 2em 0 0;
    bottom: 0;
}

.carousel .carousel-item {
    visibility: hidden;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 200px;
    -webkit-perspective: 500px;
            perspective: 500px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }

.table-of-contents a {
    display: inline-block;
    font-weight: 300;
    color: #FFFFFF;
    padding-left: 16px;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: .4;
    display: inline-block;
  }
  
.table-of-contents a:hover {
    color: #a8a8a8;
    padding-left: 15px;
    border-left: 1px solid #ee6e73;
  }

/* #name-section{
      width: 100%;
      min-height: 100vh;
  } */